[submodule "isometria-75-pcb-iso/MX_Alps_Hybrid.pretty"]
	path = isometria-75-pcb-iso/MX_Alps_Hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.pretty
[submodule "isometria-75-pcb-iso/Connectors_JST.pretty"]
	path = isometria-75-pcb-iso/Connectors_JST.pretty
	url = https://github.com/KiCad/Connectors_JST.pretty
[submodule "isometria-75-pcb-iso/kicad-keyboard-parts.pretty"]
	path = isometria-75-pcb-iso/kicad-keyboard-parts.pretty
	url = https://github.com/ebastler/kicad-keyboard-parts.pretty
[submodule "isometria-75-pcb-iso/logo-branding.pretty"]
	path = isometria-75-pcb-iso/logo-branding.pretty
	url = https://github.com/ebastler/logo-branding.pretty
